<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Base de conhecimentos</h5>
        <p class="card-text">Essa é um gerenciador de conhecimentos, onde você pode armazenar as sua anotações, dicas,
            procedimentos, etc, acerca de qualquer assunto que você achar pertinente.</p>

        <p>Atualmente há um total de <span class="badge rounded-pill bg-info text-dark">{{countKnowledge}}</span> conhecimentos cadastrados</p>

        <a href="/knowledge" class="btn btn-primary position-relative">Gerenciar conhecimentos</a>
    </div>
</div>